@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    font-family: 'Epilogue', sans-serif;
}
:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
p{
    font-size: 1.8rem;
}
a,li{
    font-size: 1.5rem;
    color: var(--Medium-Gray);
}
.navbar{
    display: flex;
    align-items: center;
    position: relative;
   margin: 2rem ;
}
.navbar>div{
    margin: 2rem;
    
}
.left-nav{
    display: flex;
    justify-content: space-between;
    
}
#menu-icon{
    display: none;
}
.right-nav{
    display: flex;
    width: 100%;
    margin-left: 2rem;
    justify-content: space-between;
    
}

.right-nav>ul{
    display: flex;
    align-items: center;
}

.right-nav>ul>li{
    margin: 0 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.right-nav>ul>li>ul>li a{
    font-weight: lighter;
    font-size: 1.4rem;
}
.right-nav>ul>li:hover{
    color: black;
}
.right-nav>ul>li>a{
    transition: all 0.3s ease-in;
}
.right-nav>ul>li>a:hover{
    color: black;
}

.btn{
    outline: none;
    border: none;
    background-color: var(--Almost-White);
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    color: var(--Medium-Gray);
    transition: all 0.3s ease-in;
    font-size: 1.5rem;
}
.btn:nth-child(2n){
    border: 2px solid var(--Medium-Gray);
    border-radius: 0.8rem;
}
.btn:hover{
    color: black;
    border-color: black;
}

.sub-menu{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--Almost-White);
    display: none;
    box-shadow: 0px 6px 9px  black;
}
.sub-menu li{
    padding: 1rem 0.5rem;
}

.sub-menu li a{
    margin-left: 1rem;
    text-align: center;
    transition:  all 0.3s ease-in;
}
.sub-menu li a:hover{
    color: black;
}
.sub-menu li img{
    vertical-align: middle;
}
.features-menu{
    position: absolute;
    top: 55px;
    left: 130px;
}
.company-menu{
    position: absolute;
    top: 55px;
    left: 290px;
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    grid-template-areas: 'a b';
    padding: 7rem 10rem; 
    margin: 5rem 0; 
}
.left-main{
    grid-area: a;
    align-self: center;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.right-main{
    grid-area: b;
    
}
.right-main img{
    width: 100%;
}
.main-img2{
    display: none;
}
.left-main h1{
    font-weight: 700;
    font-size: 9rem;
    color: var(--Almost-Black);
    margin-bottom: 2rem;
}
.text{
    display: flex;
    flex-wrap: wrap;
}

.left-main p{
    color: var(--Medium-Gray);
    line-height: 3.2rem;
    flex: 0 0 80%;  
    margin-bottom: 2rem;
}
.primary-btn{
    padding: 2rem 4rem;
    font-size: 2rem;
    outline: none;
    border: none;
    border-radius: 1.4rem;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    font-weight: 700;
    margin-bottom: 2rem;
    transition: all 0.5s ease-in-out;
}
.primary-btn:hover{
    background-color: var(--Almost-White);
    color: black;
    border: 1px solid ;
}
.clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active{
    display: block;
}
.active .sub-menu{
    display: block;
}


/* media queries */



@media screen  and (max-width:999px) {
    html{
        font-size: 55%;
    }
    #menu-icon{
        display: block;
    }
    .right-main{
        width: 90%;

    }
    .right-nav{
       position: absolute;
       flex-direction: column;
       justify-content:left;
       align-items: flex-start;
       max-width: fit-content;
       height: 100vh;
       top: 30px;
       right: -19px;
       background-color: white;
       align-items:flex-start;
       display: none;
    }
    .right-nav>ul{
        align-items: flex-start;
    }
    .right-nav>ul>li{
        padding: 1.5rem;
    }
    .buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .features-menu{
        position: static;
        top: 0px;
        left: 0px;
    }
    .company-menu{
        position: static;
        top: 0px;
        left: 0px;
    }
    .sub-menu{
        box-shadow: none;
    }
    .menu-icon{
        display: flex;
    }
    .left-nav{
        width: 100%;
    }

    .right-nav>ul{
        flex-direction: column;
    }
    .main{
        display: grid;
        gap: 2rem;
        grid-template-areas: 'b b' 'a a';
        padding: 0rem; 
        margin: 0; 
    }
    .left-main h1{
        font-size: 7rem;
        
        
    }
    .right-main{
        margin: 0;
        padding: 0;
        justify-self: center;
        align-self: center;
    }
    .main-img{
        display: none;
    }
    .main-img2{
        display: block;
    }
    .left-main{
        text-align: center;
        padding: 3rem;
    }
    .text p{
        flex: 100%;
    }
    .clients img{
        width: 20%;
    }
    .active2{
        display: block;
    }
    

}
@media screen and (max-width:500px) {
    html{
        font-size: 50%;
    }
    .left-main h1{
        font-weight: 700;
        font-size: 4rem;
        margin: 4rem 0;
        
    }
    .left-main p{
        margin-bottom: 4rem ;
    }
    .primary-btn{
        margin-bottom: 6rem;
    }
    
}